In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import r2_score

In [2]:
df = pd.read_csv("apy.csv")
data = df.dropna()
data

,State_Name,District_Name,Crop_Year,Season,Crop,Area,Production
0,Andaman and Nicobar Islands,NICOBARS,2000,Kharif,Arecanut,1254.0,2000.0
1,Andaman and Nicobar Islands,NICOBARS,2000,Kharif,Other Kharif pulses,2.0,1.0
2,Andaman and Nicobar Islands,NICOBARS,2000,Kharif,Rice,102.0,321.0
3,Andaman and Nicobar Islands,NICOBARS,2000,Whole Year,Banana,176.0,641.0
4,Andaman and Nicobar Islands,NICOBARS,2000,Whole Year,Cashewnut,720.0,165.0
...,...,...,...,...,...,...,...
246086,West Bengal,PURULIA,2014,Summer,Rice,306.0,801.0
246087,West Bengal,PURULIA,2014,Summer,Sesamum,627.0,463.0
246088,West Bengal,PURULIA,2014,Whole Year,Sugarcane,324.0,16250.0
246089,West Bengal,PURULIA,2014,Winter,Rice,279151.0,597899.0
246090,West Bengal,PURULIA,2014,Winter,Sesamum,175.0,88.0

In [3]:
data1=data.sort_values(by=['Crop_Year'])
data1

,State_Name,District_Name,Crop_Year,Season,Crop,Area,Production
64403,Gujarat,SURENDRANAGAR,1997,Rabi,Wheat,22500.0,46800.0
236503,West Bengal,24 PARAGANAS NORTH,1997,Whole Year,Turmeric,820.0,1701.0
236504,West Bengal,24 PARAGANAS NORTH,1997,Winter,Rice,193202.0,381990.0
84376,Karnataka,CHITRADURGA,1997,Whole Year,Turmeric,3.0,17.0
84375,Karnataka,CHITRADURGA,1997,Whole Year,Sugarcane,8378.0,827746.0
...,...,...,...,...,...,...,...
156699,Odisha,MAYURBHANJ,2015,Winter,Maize,40.0,96.1
156700,Odisha,MAYURBHANJ,2015,Winter,Moong(Green Gram),55.0,17.3
156701,Odisha,MAYURBHANJ,2015,Winter,Potato,48.0,400.1
156703,Odisha,MAYURBHANJ,2015,Winter,Rice,278000.0,274000.0
152235,Odisha,JAGATSINGHAPUR,2015,Summer,Sesamum,7.0,1.9

In [4]:
raindata = pd.read_csv("rainfall in india 1901-2015.csv")

In [6]:
list(raindata[(raindata['SUBDIVISION']=="KERALA") & \
                                   (raindata['YEAR']==2011)]['ANNUAL'])[0]

3035.1

In [8]:
raindata = raindata[raindata['YEAR']>1996]

In [9]:
raindata

,SUBDIVISION,YEAR,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,ANNUAL,Jan-Feb,Mar-May,Jun-Sep,Oct-Dec
91,ANDAMAN & NICOBAR ISLANDS,1997,9.5,0.0,0.2,15.6,281.1,199.5,918.5,430.6,440.2,128.7,292.8,38.4,2755.1,9.5,296.9,1988.8,459.9
92,ANDAMAN & NICOBAR ISLANDS,1998,0.9,0.0,0.0,0.0,348.9,600.0,364.5,258.9,337.8,618.6,227.8,89.0,2846.4,0.9,348.9,1561.2,935.4
93,ANDAMAN & NICOBAR ISLANDS,1999,46.8,44.6,14.2,270.6,257.4,295.0,408.5,329.2,325.3,437.5,124.9,145.7,2699.7,91.4,542.2,1358.0,708.1
94,ANDAMAN & NICOBAR ISLANDS,2000,53.0,59.0,171.3,218.1,422.8,357.0,176.3,460.8,250.1,321.2,158.3,115.2,2763.2,112.0,812.2,1244.2,594.7
95,ANDAMAN & NICOBAR ISLANDS,2001,89.0,15.7,143.3,30.1,705.3,370.7,341.3,469.0,334.4,267.6,222.6,91.8,3080.9,104.7,878.7,1515.4,582.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4111,LAKSHADWEEP,2011,5.1,2.8,3.1,85.9,107.2,153.6,350.2,254.0,255.2,117.4,184.3,14.9,1533.7,7.9,196.2,1013.0,316.6
4112,LAKSHADWEEP,2012,19.2,0.1,1.6,76.8,21.2,327.0,231.5,381.2,179.8,145.9,12.4,8.8,1405.5,19.3,99.6,1119.5,167.1
4113,LAKSHADWEEP,2013,26.2,34.4,37.5,5.3,88.3,426.2,296.4,154.4,180.0,72.8,78.1,26.7,1426.3,60.6,131.1,1057.0,177.6
4114,LAKSHADWEEP,2014,53.2,16.1,4.4,14.9,57.4,244.1,116.1,466.1,132.2,169.2,59.0,62.3,1395.0,69.3,76.7,958.5,290.5
4115,LAKSHADWEEP,2015,2.2,0.5,3.7,87.1,133.1,296.6,257.5,146.4,160.4,165.4,231.0,159.0,1642.9,2.7,223.9,860.9,555.4

In [9]:
rain["SUBDIVISION"].unique()# merged data set states

array(['ANDAMAN & NICOBAR ISLANDS', 'ARUNACHAL PRADESH', 'ORISSA',
       'JHARKHAND', 'BIHAR', 'UTTARAKHAND', 'PUNJAB', 'HIMACHAL PRADESH',
       'JAMMU & KASHMIR', 'CHHATTISGARH', 'TAMIL NADU', 'KERALA'],
      dtype=object)

In [10]:
raindata.sort_values(by=['SUBDIVISION'])["SUBDIVISION"].unique() # actual rain data set states

array(['ANDAMAN & NICOBAR ISLANDS', 'ARUNACHAL PRADESH',
       'ASSAM & MEGHALAYA', 'BIHAR', 'CHHATTISGARH',
       'COASTAL ANDHRA PRADESH', 'COASTAL KARNATAKA',
       'EAST MADHYA PRADESH', 'EAST RAJASTHAN', 'EAST UTTAR PRADESH',
       'GANGETIC WEST BENGAL', 'GUJARAT REGION',
       'HARYANA DELHI & CHANDIGARH', 'HIMACHAL PRADESH',
       'JAMMU & KASHMIR', 'JHARKHAND', 'KERALA', 'KONKAN & GOA',
       'LAKSHADWEEP', 'MADHYA MAHARASHTRA', 'MATATHWADA',
       'NAGA MANI MIZO TRIPURA', 'NORTH INTERIOR KARNATAKA', 'ORISSA',
       'PUNJAB', 'RAYALSEEMA', 'SAURASHTRA & KUTCH',
       'SOUTH INTERIOR KARNATAKA', 'SUB HIMALAYAN WEST BENGAL & SIKKIM',
       'TAMIL NADU', 'TELANGANA', 'UTTARAKHAND', 'VIDARBHA',
       'WEST MADHYA PRADESH', 'WEST RAJASTHAN', 'WEST UTTAR PRADESH'],
      dtype=object)

In [11]:
data["State_Name"].unique() # crop data set states

array(['Andaman and Nicobar Islands', 'Andhra Pradesh',
       'Arunachal Pradesh', 'Assam', 'Bihar', 'Chandigarh',
       'Chhattisgarh', 'Dadra and Nagar Haveli', 'Goa', 'Gujarat',
       'Haryana', 'Himachal Pradesh', 'Jammu and Kashmir ', 'Jharkhand',
       'Karnataka', 'Kerala', 'Madhya Pradesh', 'Maharashtra', 'Manipur',
       'Meghalaya', 'Mizoram', 'Nagaland', 'Odisha', 'Puducherry',
       'Punjab', 'Rajasthan', 'Sikkim', 'Tamil Nadu', 'Telangana ',
       'Tripura', 'Uttar Pradesh', 'Uttarakhand', 'West Bengal'],
      dtype=object)

In [27]:
year=[1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015]

In [67]:
state1="West Bengal"
state2="GANGETIC WEST BENGAL"
for y in year:
    data.loc[(data['State_Name']==state1) & \
                              (data['Crop_Year']==y),'Rainfall']= \
            list(raindata[(raindata['SUBDIVISION']==state2) & \
                                   (raindata['YEAR']==y)]['ANNUAL'])[0]
data[data['State_Name']==state1]

C:\Users\rahul\Anaconda3\lib\site-packages\pandas\core\indexing.py:965: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

,State_Name,District_Name,Crop_Year,Season,Crop,Area,Production,Rainfall
236478,West Bengal,24 PARAGANAS NORTH,1997,Autumn,Rice,15017.0,33840.0,1657.7
236479,West Bengal,24 PARAGANAS NORTH,1997,Kharif,Jute,52568.0,677510.0,1657.7
236480,West Bengal,24 PARAGANAS NORTH,1997,Kharif,Mesta,690.0,6710.0,1657.7
236481,West Bengal,24 PARAGANAS NORTH,1997,Kharif,Urad,1992.0,1310.0,1657.7
236482,West Bengal,24 PARAGANAS NORTH,1997,Rabi,Gram,267.0,160.0,1657.7
...,...,...,...,...,...,...,...,...
246086,West Bengal,PURULIA,2014,Summer,Rice,306.0,801.0,1261.4
246087,West Bengal,PURULIA,2014,Summer,Sesamum,627.0,463.0,1261.4
246088,West Bengal,PURULIA,2014,Whole Year,Sugarcane,324.0,16250.0,1261.4
246089,West Bengal,PURULIA,2014,Winter,Rice,279151.0,597899.0,1261.4
246090,West Bengal,PURULIA,2014,Winter,Sesamum,175.0,88.0,1261.4

In [65]:
state1="Uttar Pradesh"
state2="WEST UTTAR PRADESH"
state3="EAST UTTAR PRADESH"
for y in year:
    data.loc[(data['State_Name']==state1) & \
                              (data['Crop_Year']==y),'Rainfall']= \
            (list(raindata[(raindata['SUBDIVISION']==state2) & \
                                   (raindata['YEAR']==y)]['ANNUAL'])[0] + list(raindata[(raindata['SUBDIVISION']==state3) & \
                                                                                        (raindata['YEAR']==y)]['ANNUAL'])[0])/2
data[data['State_Name']==state1]

C:\Users\rahul\Anaconda3\lib\site-packages\pandas\core\indexing.py:965: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

,State_Name,District_Name,Crop_Year,Season,Crop,Area,Production,Rainfall
198276,Uttar Pradesh,AGRA,1997,Kharif,Arhar/Tur,6538.0,9664.0,469.25
198277,Uttar Pradesh,AGRA,1997,Kharif,Bajra,99898.0,147994.0,469.25
198278,Uttar Pradesh,AGRA,1997,Kharif,Groundnut,27.0,22.0,469.25
198279,Uttar Pradesh,AGRA,1997,Kharif,Jowar,725.0,406.0,469.25
198280,Uttar Pradesh,AGRA,1997,Kharif,Maize,138.0,316.0,469.25
...,...,...,...,...,...,...,...,...
231577,Uttar Pradesh,VARANASI,2014,Rabi,Wheat,68617.0,127010.0,594.05
231578,Uttar Pradesh,VARANASI,2014,Summer,Maize,59.0,105.0,594.05
231579,Uttar Pradesh,VARANASI,2014,Summer,Moong(Green Gram),61.0,36.0,594.05
231580,Uttar Pradesh,VARANASI,2014,Summer,Onion,169.0,2382.0,594.05
231581,Uttar Pradesh,VARANASI,2014,Summer,Urad,90.0,51.0,594.05

In [68]:
data

,State_Name,District_Name,Crop_Year,Season,Crop,Area,Production,Rainfall
0,Andaman and Nicobar Islands,NICOBARS,2000,Kharif,Arecanut,1254.0,2000.0,2763.2
1,Andaman and Nicobar Islands,NICOBARS,2000,Kharif,Other Kharif pulses,2.0,1.0,2763.2
2,Andaman and Nicobar Islands,NICOBARS,2000,Kharif,Rice,102.0,321.0,2763.2
3,Andaman and Nicobar Islands,NICOBARS,2000,Whole Year,Banana,176.0,641.0,2763.2
4,Andaman and Nicobar Islands,NICOBARS,2000,Whole Year,Cashewnut,720.0,165.0,2763.2
...,...,...,...,...,...,...,...,...
246086,West Bengal,PURULIA,2014,Summer,Rice,306.0,801.0,1261.4
246087,West Bengal,PURULIA,2014,Summer,Sesamum,627.0,463.0,1261.4
246088,West Bengal,PURULIA,2014,Whole Year,Sugarcane,324.0,16250.0,1261.4
246089,West Bengal,PURULIA,2014,Winter,Rice,279151.0,597899.0,1261.4
246090,West Bengal,PURULIA,2014,Winter,Sesamum,175.0,88.0,1261.4

In [69]:
data.to_csv('Crop Production With Rainfall.csv')

In [70]:
data["Crop"].unique()

array(['Arecanut', 'Other Kharif pulses', 'Rice', 'Banana', 'Cashewnut',
       'Coconut ', 'Dry ginger', 'Sugarcane', 'Sweet potato', 'Tapioca',
       'Black pepper', 'Dry chillies', 'other oilseeds', 'Turmeric',
       'Maize', 'Moong(Green Gram)', 'Urad', 'Arhar/Tur', 'Groundnut',
       'Sunflower', 'Bajra', 'Castor seed', 'Cotton(lint)', 'Horse-gram',
       'Jowar', 'Korra', 'Ragi', 'Tobacco', 'Gram', 'Wheat', 'Masoor',
       'Sesamum', 'Linseed', 'Safflower', 'Onion', 'other misc. pulses',
       'Samai', 'Small millets', 'Coriander', 'Potato',
       'Other  Rabi pulses', 'Soyabean', 'Beans & Mutter(Vegetable)',
       'Bhindi', 'Brinjal', 'Citrus Fruit', 'Cucumber', 'Grapes', 'Mango',
       'Orange', 'other fibres', 'Other Fresh Fruits', 'Other Vegetables',
       'Papaya', 'Pome Fruit', 'Tomato', 'Mesta', 'Cowpea(Lobia)',
       'Lemon', 'Pome Granet', 'Sapota', 'Cabbage', 'Rapeseed &Mustard',
       'Peas  (vegetable)', 'Niger seed', 'Bottle Gourd', 'Varagu',
       'Garlic', 'Ginger', 'Oilseeds total', 'Pulses total', 'Jute',
       'Peas & beans (Pulses)', 'Blackgram', 'Paddy', 'Pineapple',
       'Barley', 'Sannhamp', 'Khesari', 'Guar seed', 'Moth',
       'Other Cereals & Millets', 'Cond-spcs other', 'Turnip', 'Carrot',
       'Redish', 'Arcanut (Processed)', 'Atcanut (Raw)',
       'Cashewnut Processed', 'Cashewnut Raw', 'Cardamom', 'Rubber',
       'Bitter Gourd', 'Drum Stick', 'Jack Fruit', 'Snak Guard', 'Tea',
       'Coffee', 'Cauliflower', 'Other Citrus Fruit', 'Water Melon',
       'Total foodgrain', 'Kapas', 'Colocosia', 'Lentil', 'Bean',
       'Jobster', 'Perilla', 'Rajmash Kholar', 'Ricebean (nagadal)',
       'Ash Gourd', 'Beet Root', 'Lab-Lab', 'Ribed Guard', 'Yam',
       'Pump Kin', 'Apple', 'Peach', 'Pear', 'Plums', 'Litchi', 'Ber',
       'Other Dry Fruit', 'Jute & mesta'], dtype=object)