In [31]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import r2_score

In [32]:
df = pd.read_csv("Crop Production With Rainfall.csv")
data = df.dropna()
data

,State_Name,District_Name,Crop_Year,Season,Crop,Area,Production,Rainfall
0,Andaman and Nicobar Islands,NICOBARS,2000,Kharif,Arecanut,1254.0,2000.0,2763.2
1,Andaman and Nicobar Islands,NICOBARS,2000,Kharif,Other Kharif pulses,2.0,1.0,2763.2
2,Andaman and Nicobar Islands,NICOBARS,2000,Kharif,Rice,102.0,321.0,2763.2
3,Andaman and Nicobar Islands,NICOBARS,2000,Whole Year,Banana,176.0,641.0,2763.2
4,Andaman and Nicobar Islands,NICOBARS,2000,Whole Year,Cashewnut,720.0,165.0,2763.2
...,...,...,...,...,...,...,...,...
242356,West Bengal,PURULIA,2014,Summer,Rice,306.0,801.0,1261.4
242357,West Bengal,PURULIA,2014,Summer,Sesamum,627.0,463.0,1261.4
242358,West Bengal,PURULIA,2014,Whole Year,Sugarcane,324.0,16250.0,1261.4
242359,West Bengal,PURULIA,2014,Winter,Rice,279151.0,597899.0,1261.4
242360,West Bengal,PURULIA,2014,Winter,Sesamum,175.0,88.0,1261.4

In [33]:
s=list(data["State_Name"].unique())
y=list(data["Crop_Year"].unique())

In [34]:
rain=pd.DataFrame()
for st in s:
    for ye in y:
        data1=data[data["State_Name"]==st][data["Crop_Year"]==ye][:1]
        rain=pd.concat([rain,data1])
rain

C:\Users\rahul\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  after removing the cwd from sys.path.

,State_Name,District_Name,Crop_Year,Season,Crop,Area,Production,Rainfall
0,Andaman and Nicobar Islands,NICOBARS,2000,Kharif,Arecanut,1254.00,2000.00,2763.2
10,Andaman and Nicobar Islands,NICOBARS,2001,Kharif,Arecanut,1254.00,2061.00,3080.9
18,Andaman and Nicobar Islands,NICOBARS,2002,Kharif,Rice,189.20,510.84,2620.2
27,Andaman and Nicobar Islands,NICOBARS,2003,Kharif,Rice,52.00,90.17,2355.9
36,Andaman and Nicobar Islands,NICOBARS,2004,Kharif,Rice,52.94,72.57,2460.1
...,...,...,...,...,...,...,...,...
233082,West Bengal,24 PARAGANAS NORTH,2009,Autumn,Rice,18839.00,50488.00,1315.0
233130,West Bengal,24 PARAGANAS NORTH,2011,Autumn,Rice,15789.00,42918.00,1686.5
233153,West Bengal,24 PARAGANAS NORTH,2012,Autumn,Rice,13891.00,36080.00,1268.0
233176,West Bengal,24 PARAGANAS NORTH,2013,Autumn,Rice,16286.00,46047.00,1764.1
233199,West Bengal,24 PARAGANAS NORTH,2014,Autumn,Maize,54.00,342.00,1261.4

In [35]:
rain=rain.drop(["District_Name","Season","Crop","Area","Production"],axis=1)
rain=rain.reset_index(drop=True)
rain

                      State_Name  Crop_Year  Rainfall
0    Andaman and Nicobar Islands       2000    2763.2
1    Andaman and Nicobar Islands       2001    3080.9
2    Andaman and Nicobar Islands       2002    2620.2
3    Andaman and Nicobar Islands       2003    2355.9
4    Andaman and Nicobar Islands       2004    2460.1
..                           ...        ...       ...
510                  West Bengal       2009    1315.0
511                  West Bengal       2011    1686.5
512                  West Bengal       2012    1268.0
513                  West Bengal       2013    1764.1
514                  West Bengal       2014    1261.4

[515 rows x 3 columns]

In [36]:
rain_dum = pd.get_dummies(rain)
x = rain_dum.drop("Rainfall",axis=1)
y = rain_dum[["Rainfall"]]

In [37]:
x

,Crop_Year,State_Name_Andaman and Nicobar Islands,State_Name_Andhra Pradesh,State_Name_Arunachal Pradesh,State_Name_Assam,State_Name_Bihar,State_Name_Chandigarh,State_Name_Chhattisgarh,State_Name_Dadra and Nagar Haveli,State_Name_Goa,...,State_Name_Puducherry,State_Name_Punjab,State_Name_Rajasthan,State_Name_Sikkim,State_Name_Tamil Nadu,State_Name_Telangana,State_Name_Tripura,State_Name_Uttar Pradesh,State_Name_Uttarakhand,State_Name_West Bengal
0,2000,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2001,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2002,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,2003,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,2004,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
510,2009,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
511,2011,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
512,2012,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
513,2013,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
514,2014,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [38]:
y

     Rainfall
0      2763.2
1      3080.9
2      2620.2
3      2355.9
4      2460.1
..        ...
510    1315.0
511    1686.5
512    1268.0
513    1764.1
514    1261.4

[515 rows x 1 columns]

In [39]:
model = RandomForestRegressor()
model.fit(x,y.values.ravel())

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=None, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=100, n_jobs=None, oob_score=False,
                      random_state=None, verbose=0, warm_start=False)

In [46]:
outrain=pd.DataFrame()
for st in s:
    testrain=rain[rain["State_Name"]==st][:1]
    outrain=pd.concat([outrain,testrain])
outrain

                      State_Name  Crop_Year  Rainfall
0    Andaman and Nicobar Islands       2000   2763.20
8                 Andhra Pradesh       2000    992.30
26             Arunachal Pradesh       2000   2596.80
44                         Assam       2000   2487.00
62                         Bihar       2000   1207.00
80                    Chandigarh       2000    384.40
93                  Chhattisgarh       2000    906.30
108       Dadra and Nagar Haveli       2000    550.60
125                          Goa       2004   2985.90
137                      Gujarat       2000    550.60
153                      Haryana       2000    384.40
169             Himachal Pradesh       2000   1068.40
181           Jammu and Kashmir        2000    984.60
193                    Jharkhand       2002   1034.90
200                    Karnataka       2000   3351.30
217                       Kerala       2000   2412.60
235               Madhya Pradesh       2001    978.55
251                  Maharashtra       2000    701.60
269                      Manipur       2000   2363.90
280                    Meghalaya       2000    984.60
297                      Mizoram       2000   2363.90
310                     Nagaland       2000   2363.90
328                       Odisha       2000   1097.20
347                   Puducherry       2000    972.00
364                       Punjab       2000    405.30
382                    Rajasthan       2000    337.65
396                       Sikkim       2000   2908.00
414                   Tamil Nadu       2000    972.00
431                   Telangana        2000   1078.00
448                      Tripura       2000    984.60
464                Uttar Pradesh       2000    859.10
482                  Uttarakhand       2000   1712.90
497                  West Bengal       2000   1572.10

In [47]:
outrain["Crop_Year"]=2021
rainpre= outrain.drop("Rainfall",axis=1)
test = pd.get_dummies(rainpre)

In [48]:
test

,Crop_Year,State_Name_Andaman and Nicobar Islands,State_Name_Andhra Pradesh,State_Name_Arunachal Pradesh,State_Name_Assam,State_Name_Bihar,State_Name_Chandigarh,State_Name_Chhattisgarh,State_Name_Dadra and Nagar Haveli,State_Name_Goa,...,State_Name_Puducherry,State_Name_Punjab,State_Name_Rajasthan,State_Name_Sikkim,State_Name_Tamil Nadu,State_Name_Telangana,State_Name_Tripura,State_Name_Uttar Pradesh,State_Name_Uttarakhand,State_Name_West Bengal
0,2021,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,2021,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
26,2021,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
44,2021,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
62,2021,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
80,2021,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
93,2021,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
108,2021,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
125,2021,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
137,2021,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
153,2021,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
169,2021,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
181,2021,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
193,2021,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
200,2021,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
217,2021,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
235,2021,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
251,2021,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
269,2021,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
280,2021,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
297,2021,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
310,2021,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
328,2021,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
347,2021,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
364,2021,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
382,2021,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
396,2021,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
414,2021,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
431,2021,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
448,2021,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
464,2021,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
482,2021,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
497,2021,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [50]:
predict=model.predict(test)
predict

array([2916.428,  986.055, 2417.031, 2124.349, 1053.845,  591.563,
       1317.694,  847.67 , 3009.274,  885.521,  434.942, 1060.331,
       1045.226,  913.141, 3837.66 , 3011.69 , 1281.715,  874.421,
       2250.727, 1020.041, 1815.943, 1634.872, 1327.286,  887.361,
        445.741,  502.508, 2479.473,  824.478,  918.699, 1034.435,
        692.978, 1392.219, 1410.542])

In [54]:
rainpre["Rainfall"]=predict
rainpre=rainpre.reset_index(drop=True)

In [55]:
rainpre

                     State_Name  Crop_Year  Rainfall
0   Andaman and Nicobar Islands       2021  2916.428
1                Andhra Pradesh       2021   986.055
2             Arunachal Pradesh       2021  2417.031
3                         Assam       2021  2124.349
4                         Bihar       2021  1053.845
5                    Chandigarh       2021   591.563
6                  Chhattisgarh       2021  1317.694
7        Dadra and Nagar Haveli       2021   847.670
8                           Goa       2021  3009.274
9                       Gujarat       2021   885.521
10                      Haryana       2021   434.942
11             Himachal Pradesh       2021  1060.331
12           Jammu and Kashmir        2021  1045.226
13                    Jharkhand       2021   913.141
14                    Karnataka       2021  3837.660
15                       Kerala       2021  3011.690
16               Madhya Pradesh       2021  1281.715
17                  Maharashtra       2021   874.421
18                      Manipur       2021  2250.727
19                    Meghalaya       2021  1020.041
20                      Mizoram       2021  1815.943
21                     Nagaland       2021  1634.872
22                       Odisha       2021  1327.286
23                   Puducherry       2021   887.361
24                       Punjab       2021   445.741
25                    Rajasthan       2021   502.508
26                       Sikkim       2021  2479.473
27                   Tamil Nadu       2021   824.478
28                   Telangana        2021   918.699
29                      Tripura       2021  1034.435
30                Uttar Pradesh       2021   692.978
31                  Uttarakhand       2021  1392.219
32                  West Bengal       2021  1410.542

In [56]:
rainpre.to_csv('Rainfall Prediction.csv')